<%- include('partials/header'); -%>
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");



     body{

color: antiquewhite ;
  background: #1F1C2C;
background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C); 
background: linear-gradient(to right, #928DAB, #1F1C2C); 

}
body::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(#f00,#f0f);
clip-path: circle(30% at right 19%);
z-index: -2;
}
body::after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(#2196f3,#e91e63);
clip-path: circle(20% at 10% 10%);
z-index: -1;
}
.box{
  position: relative;
  width: 1200px;
  left: -10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(32, 223, 48, 0.1);
backdrop-filter: blur(5px);
font-family: 'Poppins',sans-serif;

}
h1 a{
  position: relative;
    font-size: 2em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);

}
h1 a::before{
  content: attr(data-text);
position: absolute;
color: var(--clr);
width: 0;
overflow: hidden;
transition: 1s;
border-right: 8px solid var(--clr);
}

h1 a:hover::before{
  width: 100%;
filter: drop-shadow(0 0 8px var(clr--));
text-decoration: none;
color: white;

}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
 
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl  {
  width: 50px;
  height: 50px;
  padding: 5px 9px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.btn-circle.btn-x2  {
  width: 100px;
  height: 100px;
  padding: 5px 9px;
  font-size: 40px;
  line-height: 1.33;
  border-radius: 100%;
}
.btn-float{
    position: fixed;
    right: 37px;
    bottom:100px;
}

.btn-lateral{
    /* background-color: #008ECF; */
    color: white;
    margin: 10px;
}

.btn-filter
{
    /* background-color: #283896; */
    color: #FFF;
}

    </style>
    <div class="box">
<h1 style="--clr:#9c27b0"><a href="" data-text="&nbsp;Contact">&nbsp;Contact</a></h1>
<p><%= content %></p>
</div>
<div class="btn-float" style="z-index: 1;">
  <button title="facebook" type="button" class="btn btn-default btn-circle btn-xl btn-lateral" style="background-color: #1877f2;"> <a href="https://www.facebook.com/tushar.bhatia.566148/" style="text-decoration: none;color: white;" target="_blank"><i class="fa-brands fa-facebook-f"> </i></a></button><br>

  <button title="Twitter"   type="button" class="btn btn-default btn-circle btn-xl btn-lateral" style="background-color: #1da1f2;"> <a href="https://twitter.com/TusharB43676262" style="text-decoration: none;color: white;" target="_blank"><i class="fa-brands fa-twitter"> </i></a></button><br>
  <button title="Github Link" type="button" class="btn btn-default btn-circle btn-xl btn-lateral" style="background-color: black;"> <a href="https://github.com/tushar1003" style="text-decoration: none;color: white;" target="_blank"><i class="fa-brands fa-github"> +</i></a></button><br>
  <button title="Compose" type="button" class="btn btn-default btn-circle btn-x2 btn-lateral" style="background-color: rgb(253, 128, 201);"><a href="/compose" style="text-decoration: none;color: white;" target="_blank">+</a></button><br>

</div>
<%- include('partials/footer'); -%>